[data-theme='dark'] {
  --ifm-color-primary: #8193ee;
  --ifm-color-primary-dark: #6177ea;
  --ifm-color-primary-darker: #5069e7;
  --ifm-color-primary-darkest: #2040e1;
  --ifm-color-primary-light: #a1aff2;
  --ifm-color-primary-lighter: #b2bdf5;
  --ifm-color-primary-lightest: #e2e6fb;
}