[data-theme='dark'] {
  --ifm-color-primary: #2b2e83;
  --ifm-color-primary-dark: #272976;
  --ifm-color-primary-darker: #25276f;
  --ifm-color-primary-darkest: #1e205c;
  --ifm-color-primary-light: #2f3390;
  --ifm-color-primary-lighter: #313597;
  --ifm-color-primary-lightest: #383caa;
}
