[data-theme='dark'] {
  --ifm-color-primary: #27bff1;
  --ifm-color-primary-dark: #0fb6ed;
  --ifm-color-primary-darker: #0eace0;
  --ifm-color-primary-darkest: #0c8db8;
  --ifm-color-primary-light: #41c7f3;
  --ifm-color-primary-lighter: #4ecbf4;
  --ifm-color-primary-lightest: #76d6f6;
}
